
.navbar {
    background-color: #0a0a0a;
    color: white;
    height: 9%;
    display:flex;
    justify-content:center;
    text-align: center;
  }
.tile{
    background-color: hsl(48, 100%, 67%);
}